<template>
  <require from="./converters"></require>
  <h2>Welcome to the Interesting loan calculator!</h2>
  <div>
    <h3><i class="fa fa-${selectedLoanType.icon}"></i> ${selectedLoanType.name}</h3>
    <p>${selectedLoanType.description}</p>
    <div class="row">
      <div class="col-md-8">
      <form>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" value.bind="amount" placeholder="Amount to borrow">
        </div>
        <div class="form-group">
          <label for="interest-rate">Interest rate</label>
          <input type="number" class="form-control" id="interest-rate" value.bind="interestRate" placeholder="Interest rate">
        </div>
        <div class="form-group">
          <label for="duration">Duration</label>
          <input type="number" class="form-control" id="duration" value.bind="duration" placeholder="Duration in years">
        </div>
        <div class="form-group">
          <label repeat.for="paybackScheme of paybackSchemes" class="radio-inline">
          <input type="radio" name="payback-schemes" model.bind="paybackScheme" checked.bind="$parent.selectedPaybackScheme"> ${paybackScheme.name}
        </label>
        </div>
        <button type="submit" class="btn btn-default" click.delegate="calculate()">Calculate payment plan</button>
      </form>
      </div>
      <div class="col-md-4">
        <h3>Saved loans</h3>
        <button repeat.for="loan of loans" type="button" class="btn btn-primary btn-md btn-block" click.delegate="setLoan(loan)">${loan.name}</button>
      </div>
    </div>
  </div>
  <div if.bind="instalments">
    <h3>Payment plan</h3>
    <table class="table">
      <thead>
        <td>#</th>
          <th>Due date</th>
          <th class="text-right">Downpayment</th>
          <th class="text-right">Interest</th>
          <th class="text-right">Total</th>
          <th class="text-right">Remaining</th>
      </thead>
      <tbody>
        <tr repeat.for="instalment of instalments">
          <td>${instalment.instalmentNumber}</td>
          <td>${instalment.dueDate | dateFormat}</td>
          <td class="text-right">${instalment.downpayment | currencyFormat}</td>
          <td class="text-right">${instalment.interest | currencyFormat}</td>
          <td class="text-right">${instalment.total | currencyFormat}</td>
          <td class="text-right">${instalment.amountLeft | currencyFormat}</td>
        </tr>
      </tbody>
  </div>
</template>