<template>
    <h1>Loan Types</h1>
    <div repeat.for="loanType of loanTypes">
        <h2><i class="fa fa-${loanType.icon}"></i> ${loanType.name}</h2>
        ${loanType.description}
    </div>
</template>
